@import url('https://fonts.googleapis.com/css?family=Sansita:400,700,800,900');
$button-color: #28262f;
body {
    text-align: center;
    font-family: 'Sansita', sans-serif;
    background-color: #3a8bc2;
    margin: 0;
    main {
        margin: 0 auto;
        margin-top: 10px;
        padding: 20px;
        width: 800px;
        box-shadow: 0px 0px 10px black;
        transition: width 1.5s;
        -webkit-transition: width 1.5s;
        border-radius: 10px;
        background: #ECE9E6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #ECE9E6, #FFFFFF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        @media (max-width: 842px) {
            width: 300px;
        }
    }
    main h1 {
        font-size: 100px;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        margin: 0;
        transition: all 1.5s;
        -webkit-transition: all 1.5s;
        @media (max-width: 842px) {
            font-size: 40px;
        }
    }
}

h2 {
    font-size: 40px;
    margin: 10px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media (max-width: 842px) {
        font-size: 18px;
    }
}

.left-border {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-border {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clock-controls {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media (max-width: 842px) {
        width: 100px;
    }
    input {
        font-size: 44px;
        text-align: center;
        width: 80%;
        height: 48px;
        margin: 0;
        border: none;
        background-color: #606060;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,565656+100,7c7c7c+100 */
        background: -moz-linear-gradient(top, #7d7e7d 0%, #565656 100%, #7c7c7c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #7d7e7d 0%, #565656 100%, #7c7c7c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #7d7e7d 0%, #565656 100%, #7c7c7c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
        pointer-events: none;
        transition: all 1.5s;
        -webkit-transition: all 1.5s;
        @media (max-width: 842px) {
            width: 50%;
            height: 38px;
            font-size: 22px;
        }
    }
}

.control-btns {
    background-color: $button-color;
    color: white;
    font-size: 30px;
    width: 70px;
    height: 50px;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media (max-width: 842px) {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}

#timer-toggle {
    background-color: $button-color;
    color: white;
    font-size: 50px;
    width: 90%;
    height: 80px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #161616;
    text-shadow: 0px -2px #161616;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    &:active {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        border-bottom: 0px solid;
    }
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media (max-width: 842px) {
        font-size: 25px;
    }
}

#clock-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: aquamarine;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+17,6199c7+50,3a84c3+51,419ad6+59,4bb8f0+71,3a8bc2+84,26558b+100;Blue+Gloss */
    background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b', GradientType=0);
    /* IE6-9 */
    h1 {
        font-size: 120px;
        text-shadow: none;
        color: rgba(45, 45, 45, 0.90);
        transition: all 1.5s;
        -webkit-transition: all 1.5s;
        @media (max-width: 842px) {
            font-size: 60px;
        }
    }
    p {
        margin: 0;
        font-size: 20px;
        color: rgba(45, 45, 45, 0.90);
    }
}

.fa-3x {
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    @media (max-width: 842px) {
        font-size: 2em;
    }
}



.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.black {
    background-color: #28262f;
    ;
    border-bottom: 5px solid #161616;
    text-shadow: 0px -2px #161616;
}

.active,
button:active {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    border-bottom: 0px solid;
}

